
body{
    list-style: none;
}

.banner-image{

    background-image: url('bg-1.jpg');
    background-size: cover;

}

.nav-custom{
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: 500;
    
}

.btn-custom{

    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: #fff;
    padding: 10px;
    margin: 10px;
   background-color: #51526c;
   color: #fff;
   font-weight: 600;

}


/* Banner */

.banner-img {
    left: -100px;

    object-fit: cover;
}

#banner-custom h1{
    font-size: 50px;
    font-weight: 700;
    color: #fff;

}

#banner-custom p{
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.banner-btn1{

    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: #fff;
    padding: 10px;
    margin: 10px;
   background-color: #85bc3f;
   color: #fff;
   font-weight: 500;
}

.banner-btn2{

    height: 50px;
    width: 180px;
    border-radius: 30px;
    border:none;
    padding: 10px;
    margin: 10px;
   background-color: #fff;
   color: #1c1d3f;
   font-weight: 600;
   

}

/* feature*/

.feature-btn{

    height: 50px;
    width: 180px;
    border-radius: 30px;
    border:none;
    padding: 10px;
    margin: 10px;
   background-color: #2682ec;
   color: #fff;
   font-weight: 600;
   

}

.card-btn {
    background-color: #ccefe7;
    width: 30%;
    text-decoration: none;
    color: #000;
    padding: 5px;
    margin-top: 10px;
}



#head-btn {
    display: inline-block;
    padding: 15px 60px;
    border-radius: 40px;
    background-color: #02ab87;
    font-size: larger;

    font-weight: 600;
    color: #fff;
    margin-bottom: 5px;

}

.contact-btn {

    background-color: #02ab87;
    color: #fff;
    font-weight: 500;
    padding: 18px 45px;
    border-radius: 35px;
    font-size: large;
   

}

#banner-btn {
    display: inline-block;
    padding: 15px 45px;
    border-radius: 30px;
    background-color: #645cfe;
    font-weight: normal;
    font-weight: 600;
    color: #fff;
    outline: none;


}

#card-img {

    background: #ccefe7;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    opacity: 0.7;

}

#card-img i {


    color: #1bb593;
    

}



.custom-card-body{
    border: #fff;
    font-size: 20px;
    font-weight: 400;

    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px #e9ecee;
    

    

}

/*ecom*/

.ecom-btn{

    height: 50px;
    width: 180px;
    border-radius: 30px;
    border: #fff;
    padding: 10px;
    margin: 10px;
   background-color: #f15a24;
   color: #fff;
   font-weight: 500;
}

.econlist{
    list-style: none;
   
}


 ul{
    padding-left: 0;
}


ul li{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #909193;


   
}

.econlist p{
    color: #aaabad;

}



.econlist i{
    color:#85bc3f ;

    margin-right: 5px;

}

.landing{
    background-color: #f5fcff;
}

/*msfc*/

.msfc{

    list-style: none;
}


/* business*/

.space{

    width: 300px
}

.business{
    padding-top: 40px;
    padding-left: 350px;
    padding-right: 350px;

}

.icon-custom i {

    color: #2682ec;

}

/* business feature*/

.business-f{
    padding-top: 0px;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: 800;

}

.custom-card{
    height: 250px;
    box-shadow: none;
    border: 3px solid #e9ecee;
}

#card-img1 {

    background: #f5fcff;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}
#card-img2 {

    background: #e8eefd;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img3 {

    background: #f1ebfd;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img4 {

    background: #fce6f1;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img5{

    background: #EFF7E3;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img6{

    background: #EFF7E3;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img7{

    background: #eeeff1;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img8{

    background: #f5fcff;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img9{

    background: #f5fcff;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

#card-img10{

    background: #f5fcff;
    justify-content: center;
    margin: 20px auto;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    opacity: 0.7;

}

/* counter */
.counters{
    background-color: #f4fff0;
    color: #000;

}

.counters .container{
    margin: 50px;
    padding: 30px;
}

.single-counter{

    margin: 50px;
    padding: 30px;


}

.counters .counter{

    font-size: 45px;
    margin: 10px 0;
}


/* portfolio */

.container1{
    width: 1000px;
    margin: 100px auto;
}

.portfolio{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.portfolio-box{
    height: 300px;
    width: 32%;
    background-color: #1b1b1b;
    background-size: cover;
    background-position: top;
    transition: ease-in-out 5s;
}

.portfolio-box:hover{
    background-position: bottom;
}

.portfolio-box1{
    background-image: url(img/portfolio/moshi-moshi.jpg);
}

.portfolio-box2{
    background-image: url(img/portfolio/globalautomotive.jpg);
}

.portfolio-box3{
    background-image: url(img/portfolio/bike-theory.jpg);
}






/* footer */

.footer-custom{
    background-color: #1c1d3f;
}


.copy-custom {
    background-color: #181938;
}











